global:
  resolve_timeout: 5m
  #smtp_smarthost: '127.0.0.1:25'
  #smtp_from: 'prometheus@my-prometheus-server.de'
  #smtp_require_tls: false

route:
   receiver: 'Mail Alert'
    # group_by: [ alertname ]
   repeat_interval: 2m
   group_wait: 15s
   group_interval: 15s
receivers:
  - name: 'Mail Alert'
    email_configs:
      - smarthost: 'bcxp-de.mail.protection.outlook.com:25'
        #auth_username: 'TestAlerting@proton.me'
        #auth_password: "testingAlerts2025!!!"
        from: 'noreply@bcxp.de'
        to: 'maryna.korovay@bcxp.de'
        send_resolved: true
        text: 'I will be happy once I receive an email!'
inhibit_rules:
  - source_match:
      severity: 'warning'
    target_match:
      severity: 'warning'